@media screen and (min-width:320px) and (max-width: 425px) {
    header {
        align-items: center;
        height: 100%;
        margin: 10px 0;
        width: 100%;
    }
    .header_logo {
        margin-left: 15px;
    }
    .header_logo img {
        width: 50px;
    }
    header img {
        margin-left: 0;
    }
    header ul {
        flex-wrap: wrap;
        justify-content: center;
    }
    .menu-btn {
        margin-right: 15px;
    }
    .menu {
        width: 50%;
    }
    .block1 {
        flex-direction: column;
    }
    .bl1_bl1 {
        padding: 0;
        width: auto;
    }
    .bl1_bl1 h1 {
        margin: 30px 0;
        font-size: 30px;
        padding: 0 15px;
        text-align: center;
    }
    .bl1_bl1 h2 {
        font-size: 14px;
        padding: 0 15px;
        margin-bottom: 30px;
    }
    .bl1_quality button {
        font-size: 14px;
    }
    .bl1_quality {
        padding: 0 15px;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    };
    .bl1_quality button {
        height: 50px;
        margin-left: 15px;
    }
    .bl1_q_cun {
        font-size: 16px;
    }
    .bl1_q_tn {
        font-size: 20px;
    }
    .bl1_bl2 img {
        height: 40vh;
    }
    .bl2_header {
        width: 100%;
    }
    .block2 {
        padding: 0;
    }
    .bl2_header_h1 {
        text-align: center;
        font-size: 30px;
    }
    .bl2_items img {
        width: 200px;
    }
    .bl2_bts {
        text-align: center;
    }
    .bl2_bts button {
        margin: 10px 0;
    }
    .bl2_items {
        padding: 0 15px;
    }
    .bl3_stat {
        flex-direction: column;
    }
    .bl3_h1 {
        font-size: 30px;
    }
    .bl3_stat_bl {
        margin: 0;
        justify-content: center;
    }
    .bl3_content img {
        margin-bottom: 20px;
    }
    .bl3img {
        width: 100%;
    }
    .bl4_h {
        flex-direction: column;
        align-items: center;
    }
    .block4 {
        padding: 0;
    }
    .bl4_h-h1 {
        margin: 15px 0;
        text-align: center;
        padding: 0 15px;
        font-size: 30px;
    }
    .bl4_h-btn {
        height: 72px;
    }
    .bl4_content_el {
        padding: 40px 15px;
    }
}