@media (max-width: 1024px){
    ul {
        padding-left: 0;
    }
    header {
        padding: 0;
        width: 100vw;
        font-size: 18px;
    }
    header ul {
        margin-right: 0;
    }
    header img {
        margin-left: 15px;
        height: 45px;
    }
    .header_logo {
        margin-left: 0;
    }
    .header-quote {
        margin-right: 0;
    }
    .block1 {
        padding: 0;
        flex-direction: column;
        height: auto;
    }
    .bl1_bl1 {
        padding: 0;
        width: auto;
    }
    .bl1_bl1 h1 {
        font-size: 45px;
        margin: 30px 0 30px;
    }
    .bl1_bl1 h2 {
    font-size: 20px;
    width: 80%;
    text-align: center;
    margin-bottom: 30px;
    /* padding: 10px 40px; */

    }
    .bl1_quality {
        width: auto;
        margin-bottom: 30px;
    }
    .bl1_bl2 {
        text-align: center;
        align-items: center;
        margin-bottom: 30px;
    }
    button.hq_el {
        font-size: 20px;
        align-items: center;
        justify-content: center;
    }
    .bl1_bl2 img {
        height: 60vh;
    }
    .bl2_items {
        width: 400px;
        margin: 30px 0;
    }
    .bl2_items img {
        width: 300px;
    }
    .bl2_items_h1 {
        margin: 20px 0;
        font-size: 30px;
    }
    .bl2_items_text {
        font-size: 20px;
    }
    .bl2_header_h1 {
        font-size: 45px;    
    }
    .bl2_header_h2 {
        font-size: 20px;
    }
    .bl2_content {
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 15px;
    }
    .bl2_bts {
        margin-bottom: 45px;
    }
    .hq_el {
        display: flex;
    }

    .block2, .block3, .block4 {
        height: 100%;
    }
    .block3 {
        padding: 0;
    }
    .bl3_content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .bl3_content img {
        margin-bottom: 60px;
    }
    .bl3_h1 {
        margin: 30px 0;
        font-size: 45px;
    }
    .bl3_h2 {
        font-size: 20px;
        margin-bottom: 30px;
    }
    .bl4_content {
        flex-direction: column;
    }
    .bl4_content_el {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 40px;
    }
    .bl4_h-h1 {
        font-size: 45px;
    }
    .bl4_h-btn {
        font-size: 20px;
        width: 300px;
    }
}