@media (max-width: 1024px){
    ul {
        padding-left: 0;
    }
    header {
        padding: 0;
        width: 100vw;
        font-size: 18px;
    }
    header ul {
        margin-right: 0;
    }
    header img {
        margin-left: 15px;
        height: 45px;
    }
    .header_logo {
        margin-left: 0;
    }
    .header-quote {
        margin-right: 0;
    }
    .block1 {
        padding: 0;
        flex-direction: column;
        height: auto;
    }
    .bl1_bl1 {
        padding: 0;
        width: auto;
    }
    .bl1_bl1 h1 {
        font-size: 45px;
        margin: 30px 0 30px;
    }
    .bl1_bl1 h2 {
    font-size: 20px;
    width: 80%;
    text-align: center;
    margin-bottom: 30px;
    /* padding: 10px 40px; */

    }
    .bl1_quality {
        width: auto;
        margin-bottom: 30px;
    }
    .bl1_bl2 {
        text-align: center;
        align-items: center;
        margin-bottom: 30px;
    }
    button.hq_el {
        font-size: 20px;
        align-items: center;
        justify-content: center;
    }
    .bl1_bl2 img {
        height: 60vh;
    }
    .bl2_items {
        width: 400px;
        margin: 30px 0;
    }
    .bl2_items img {
        width: 300px;
    }
    .bl2_items_h1 {
        margin: 20px 0;
        font-size: 30px;
    }
    .bl2_items_text {
        font-size: 20px;
    }
    .bl2_header_h1 {
        font-size: 45px;    
    }
    .bl2_header_h2 {
        font-size: 20px;
    }
    .bl2_content {
        flex-direction: column;
        justify-content: center;
        margin-bottom: 15px;
    }
    .bl2_bts {
        margin-bottom: 45px;
    }
    .hq_el {
        display: flex;
    }

    .block2, .block3, .block4 {
        height: 100%;
    }
    .block3 {
        padding: 0;
    }
    .bl3_content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .bl3_content img {
        margin-bottom: 60px;
    }
    .bl3_h1 {
        margin: 30px 0;
        font-size: 45px;
    }
    .bl3_h2 {
        font-size: 20px;
        margin-bottom: 30px;
    }
    .bl4_content {
        flex-direction: column;
    }
    .bl4_content_el {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 40px;
    }
    .bl4_h-h1 {
        font-size: 45px;
    }
    .bl4_h-btn {
        font-size: 20px;
        width: 300px;
    }
}
@media (max-width: 1300px) {
    .bl2_items {
        width: 300px;
    }
}
@media (max-width: 980px) {
    body.lock {
        overflow: hidden;
    }
    header > ul {
        display: none;
    }
    .header-quote {
        display: none;
    }
    header {
        justify-content: space-between;
        width: 100%;
    }
    .header_logo {
        margin-left: 50px;
    }
    header ul {
        flex-direction: column;
    }
    .m_link {
        color: #fff;
    }
    .menu-btn {
        display: block;
        width: 30px;
        height: 30px;
        position: relative;
        z-index:2;
        overflow: hidden;
        margin-right: 50px;
    }
    .menu-btn span {
        width: 30px;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #222222;
        transition: all 0.5s;
    }
    .menu-btn span:nth-of-type(2) {
        top: calc(50% - 5px);
    }
    .menu-btn span:nth-of-type(3) {
        top: calc(50% + 5px);
    }
    .menu {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        width: 30%;
        height: 100%;
        padding: 50px 15px;
        background: #0075FF;
        transform: translateX(100%);
        transition: transform 0.5s; 
    }
    .menu.active {
        transform: translateX(0);
    }
    .menu li {
        list-style-type: none;
    }
    .menu-btn.active span:nth-of-type(1) {
        display: none;
    }
    .menu-btn.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);  
    }
    .menu-btn.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg); 
    }
}